@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Ubuntu:wght@300&display=swap');

h1, h2 {
    font-family: 'Arvo', serif;
}
.card-title {
    font-family: 'Ubuntu', sans-serif;
}
#light, .light {
    background: hsl(0,0%,97%);
    color: hsl(0,0%,5%);
    border-color: hsl(0,0%,5%);
}
#dark, .dark {
    background: hsl(0,0%,10%);
    color: hsl(0,0%,95%);
    border-color: hsl(0,0%,90%);
}
#light .homepage{
    background-image: url('/images/produce1.png');
    color: hsl(0,0%,5%);
    border-color: hsl(0,0%,5%);
}
#dark .homepage{
    background-image: url('/images/produce1.png');
    color: hsl(0,0%,95%);
    border-color: hsl(0,0%,90%);
}
#light .navbar{
    background: white;
    color: black;
    border-color: hsl(0,0%,5%);
    margin-bottom: 5px !important;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
}
#dark .navbar{
    background: black;
    color: white;
    border-color: hsl(0,0%,90%);
    margin-bottom: 5px !important;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
}
#dark .navbar a{
    color: white;
}
#light .page {
    width: 100%;
    height: 100vh;
    background: hsl(0,0%,90%);
    color: hsl(0,0%,5%);
    border-color: hsl(0,0%,5%);
}
#dark .page {
    width: 100%;
    height: 100vh;
    background: hsl(0,0%,10%);
    color: hsl(0,0%,95%);
    border-color: hsl(0,0%,90%);
}
#light .main {
    background: hsl(0,0%,90%);
    color: hsl(0,0%,5%);
    border-color: hsl(0,0%,5%);
    border-radius: 20px;
}
#dark .main {
    background: hsl(0,0%,20%);
    color: hsl(0,0%,95%);
    border-color: hsl(0,0%,90%);
    border-radius: 20px;
}
.signup {
    display: flex;
    max-width: '400px';
}
#light .signup-card {
    background: hsl(0,0%,100%);
    color: hsl(0,0%,5%);
    border-color: hsl(0,0%,5%);
}
#dark .signup-card {
    background: hsl(0,0%,10%);
    color: hsl(0,0%,95%);
    border-color: hsl(0,0%,90%);
}
.homepage {
    min-height: 80vh;
    height: 100%;
    width: 100%;
    margin: 15px auto;
}
.about {
    max-width: 900px;
}
h1 {
    text-align: center;
    font-size: 90px !important;
}
@media (max-width: 600px) {
    h1 {
        font-size: 30px !important;
    }
}
.container {
    height: 100%;
    flex-wrap: wrap;
    max-width: 95% !important;
    min-height: 85vh;
}
.layout {
    min-height: 100vh;
    height: 100%;
}
.toggler {
    position: absolute;
    margin-bottom: 15px;
}
.card-img-top {
    object-fit: cover;
}
.btn-gap {
    gap: 0.5rem;
}
.day {
    width: 20px;
    height: 20px;
}
.night {
    padding-left: 5px;
    width: 30px;
    height: 20px;
}
.success {
    font-weight: bold;
    font-size: 40px;
}
.cart-quantity {
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(25%, 25%);
    margin-right: 6px;
}
.cart-img {
    width: 125px;
    height: 75px;
    object-fit: cover;
}
.form-control {
    margin: 0 auto;
}
.card-input {
    max-width: 186px;
}
.center {
    margin: 0 auto;
}
.shift-right {
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 30px;
}
.store {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.food-item {
    min-width: 200px;
    height: 300px;
}
.card, .card-body, .card-img-top {
    border-radius: 20px !important;
    padding-right: 20px;
    padding-left: 20px;
}
.x-button {
    padding-bottom: 5px !important;
    padding-top: -5px !important;
    padding-right: 7px !important;
    padding-left: 6px !important;
}
.minus {
    padding-left: 9px !important;
    padding-right: 9px !important;
}
.checkout {
    max-width: 500px;
    margin: 40px auto;
}
.about-text {
    font-size: 18px;
}
.about-title {
    margin-bottom: 40px;
    font-size: 50px;
}
.btn-primary {
    background-color: hsl(225, 100%, 35%) !important;
}
.card {
    min-height: 400px;
}
.card-footer {
    background: none !important;
    border: none !important;    
    padding: 0 !important;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}