#light {
    background: hsl(0,0%,97%);
    color: hsl(0,0%,5%);
    border-color: hsl(0,0%,5%);
}
#dark {
    background: hsl(0,0%,10%);
    color: hsl(0,0%,95%);
    border-color: hsl(0,0%,90%);
}
#light .navbar{
    background: white;
    color: black;
    border-color: hsl(0,0%,5%);
}
#dark .navbar{
    background: black;
    color: white;
    border-color: hsl(0,0%,90%);
}
#dark .navbar a{
    color: white;
}
#light .page {
    width: 100%;
    height: 100vh;
    background: hsl(0,0%,90%);
    color: hsl(0,0%,5%);
    border-color: hsl(0,0%,5%);
}
#dark .page {
    width: 100%;
    height: 100vh;
    background: hsl(0,0%,10%);
    color: hsl(0,0%,95%);
    border-color: hsl(0,0%,90%);
}
.signup {
    display: flex;
    max-width: '400px';
}
#light .signup-card {
    background: hsl(0,0%,100%);
    color: hsl(0,0%,5%);
    border-color: hsl(0,0%,5%);
}
#dark .signup-card {
    background: hsl(0,0%,10%);
    color: hsl(0,0%,95%);
    border-color: hsl(0,0%,90%);
}

.container {
    height: 100vh;
    flex-wrap: wrap;
    overflow-y: auto;
    max-width: 95% !important;
}

.toggler {
    position: absolute;
}
.card-img-top {
    object-fit: cover;
}
.btn-gap {
    gap: 0.5rem;
}
.day {
    width: 20px;
    height: 20px;
}
.night {
    padding-left: 5px;
    width: 30px;
    height: 20px;
}
.cart-quantity {
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(25%, 25%);
}
.cart-img {
    width: 125px;
    height: 75px;
    object-fit: cover;
}